.Button {
  font-size: 1.3rem;
  margin: 2%;
  transition-duration: 0.3s;
  cursor: pointer;
  color: black;
  border: 0.1rem solid gray;
  padding: 0.6rem;
}

.Button:hover {
  background-color: gray;
  color: white;
}