Form {
  background-color: #dcf2fa;
  border: 0.1rem solid #555252;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 0.7rem;
  align-content: center;
  margin: 0 auto;
}

Input {
  font-size: 1.5rem;
  margin: 2%;
  text-align: left;
}

Label {
  margin: 2%;
}

@media screen and (min-width: 1025px) {
  Form {
    max-width: 48rem;
  }
}