.Word {
  border: 0.1rem solid gray;
  margin-bottom: 2.7rem !important;
  padding: 1.5rem;
  font-size: 1.3rem;
  margin: 0 auto;
  list-style-type: none;
  background-color: whitesmoke;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 500ms;
  border-radius: 1rem;
}

.Word:hover {
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1025px) {
  .Word {
    max-width: 50rem;
  }
}