.Word {
  border: 0.1rem solid gray;
  margin-bottom: 2.7rem !important;
  padding: 1.5rem;
  font-size: 1.3rem;
  margin: 0 auto;
}

@media screen and (min-width: 1025px) {
  .Word {
    max-width: 60rem;
  }
}