header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  position: fixed;
  background-color: white;
  padding: 0.4rem;
  font-family: 'Special Elite', cursive;
}

header a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

nav a {
  text-decoration: none;
  color: black;
}

.userLogin,
.signUp-login {
  padding-top: 1rem;
}

@media screen and (min-width: 1025px) {
  header a {
    font-size: 1.5rem;
  }

  header {
    padding: 0.5rem;
  }

  .userLogin,
  .signUp-login {
    font-size: 1.2rem;
  }

  span {
    font-size: 1.5rem;
  }

}