.Dashboard h1 {
  text-align: center;
  font-size: 2rem;
}

.Dashboard h3 {
  font-size: 1.3rem;
  padding-top: 1.4rem;
}

.Dashboard {
  margin: 0 auto;
  width: 95vw;
  padding-top: 5rem;
}

button {
  font-size: 1.2rem;
  margin: 2%;
  cursor: pointer;
  color: black;
  padding: 0.6rem;
  border: 0.3rem solid #b8d843;
  transition-duration: 0.3s;
}

ul {
  list-style-type: none;
  display: inline;
}

button a {
  text-decoration: none;
  color: black;
}

button:hover {
  background-color: #306620;
  color: white;
}

.WordList {
  flex-direction: column;
}

.TotalCount {
  padding-bottom: 5.5rem;
  font-size: 1.5rem;
}

footer {
  padding-bottom: 2rem;
}