.Dashboard h3 {
  font-size: 1.8rem;
}

.Dashboard {
  margin: 0 auto;
  width: 95vw;
  padding-top: 5rem;
}

button {
  font-size: 1.2rem;
  margin: 2%;
  cursor: pointer;
  color: black;
  padding: 0.6rem;
  border: 0.3rem solid #b8d843;
  transition-duration: 0.3s;
  border-radius: 1rem;
}

ul {
  list-style-type: none;
  display: inline;
}

button a {
  text-decoration: none;
  color: black;
}

button a:hover {
  color: white;
}

button:hover {
  background-color: #306620;
}

.WordList {
  flex-direction: row;
}

.TotalCount {
  padding-bottom: 5.5rem;
  font-size: 1.5rem;
}

footer {
  padding-bottom: 2rem;
}