.Learning button:hover {
  background-color: #306620;
  color: white;
}

.Learning {
  padding-top: 5rem;
}

.GuessForm {
  background-color: whitesmoke;
  margin: 0 auto;
  padding: 2rem;
}

.DisplayFeedback {

}

.DisplayFeedback p {

}

.DisplayScore {

}

footer {
  padding: 2rem;
}

@media screen and (min-width: 1025px) {
  .DisplayScore p {
    font-size: 1.5rem;
  }
}

