.Learning button:hover {
  background-color: #306620;
  color: white;
}

.Learning {
  padding-top: 5rem;
}

.GuessForm {
  background-color: whitesmoke;
  border: 0.1rem solid gray;
  margin: 0 auto;
  padding: 2rem;
}

.DisplayFeedback p {
  font-size: 1.5rem;
}

.DisplayScore {
  padding-bottom: 2rem;
}

.DisplayScore p {
  font-size: 1.5rem;
}

footer {
  padding: 1.5rem;
  font-size: 0.9rem;
}

@media screen and (min-width: 1025px) {
  .DisplayScore p {
    font-size: 1.5rem;
  }

  .Learning span {
    font-size: 2.5rem;;
  }

  .Learning h3 {
    font-size: 1.6rem;
  }
}

